<div class="row">
  <div class="col">
    <h1>Transactions</h1>

    <% @transactions.each do |transaction| %>
      <div>
        <h5><%= link_to transaction.address, transaction %></h5>
        <div><%= pluralize transaction.beds, "bed" %> <%= pluralize transaction.baths, "bath" %> <%= transaction.sq__ft %> sqft</div>
        <div>Sold: <%= l transaction.sale_date.to_date %> for <%= number_to_currency transaction.price %></div>
      </div>
      <hr />
    <% end %>

    <%= paginate @transactions %>
  </div>

  <div class="col">
    <%= tag.div nil, id: 'map', data: { transactions: @transactions.to_json(methods: [:address]) } %>
  </div>
</div>
